.footer {
	margin-top: auto;
	--db: none;
	--dbsoc: flex;
	@include media-breakpoint-down(lg){
		--db:block !important;
	}
	&.is-down {
		--db: block;
		--dbsoc: none;
		.footer__arrow .icon {
			transform: scaleY(-1);
		}
	}
	@include media-breakpoint-down(lg) {
		padding-bottom: 40px;
		padding-top: 10px;
	}
	@include media-breakpoint-up(lg) {
		position: fixed;
		z-index: 100;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(100);
		padding-bottom: 40px;
	}
	.progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.progress-circle {
		transition-duration: 0.4s;
		stroke-dashoffset: 314;
	}
	&__arrow {
		width: rem(60);
		height: rem(60);
		@include media-breakpoint-down(lg) {
			display: none;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.icon {
			font-size: rem(24);
			transition-duration: 0.4s;
			position: relative;
			z-index: 2;
		}
		border-radius: 50%;
		border: 1px solid #e6e6e6;
		cursor: pointer;
		position: relative;
		transition-duration: 0.4s;
		// &.p1,
		// &.p3,
		// &--is-down {
		// 	--bg: #ffffff;
		// }
		// &.p2,
		// &.p4 {
		// 	--bg: #f6f6f6;
		// }
		&.p1 {
			// background-image: linear-gradient(-18deg, #e6e6e6 50%, transparent 50%),
			// 	linear-gradient(90deg, #e6e6e6 50%, $body-color 50%);
			.progress-circle {
				stroke-dashoffset: 251;
			}
		}
		&.p2 {
			// background-image: linear-gradient(54deg, #e6e6e6 50%, transparent 50%),
			// 	linear-gradient(90deg, #e6e6e6 50%, $body-color 50%);
			.progress-circle {
				stroke-dashoffset: 188;
			}
		}
		&.p3 {
			// background-image: linear-gradient(126deg, transparent 50%, $body-color 50%),
			// 	linear-gradient(90deg, #e6e6e6 50%, $body-color 50%);
			.progress-circle {
				stroke-dashoffset: 126;
			}
		}
		&.p4 {
			// background-image: linear-gradient(198deg, transparent 50%, $body-color 50%),
			// 	linear-gradient(90deg, #e6e6e6 50%, $body-color 50%);
			.progress-circle {
				stroke-dashoffset: 63;
			}
		}
		&--is-down {
			// background-image: linear-gradient(270deg, transparent 50%, $body-color 50%),
			// 	linear-gradient(90deg, #e6e6e6 50%, $body-color 50%);
			.progress-circle {
				stroke-dashoffset: 0;
			}
		}
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	width: rem(57);
		// 	height: rem(57);
		// 	border-radius: 50%;
		// 	background-color: var(--bg);
		// 	transform: translate(-50%, -50%);
		// 	transition-duration: 0.4s;
		// 	z-index: 1;
		// }
	}
	&__wrap {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
		flex-direction: column;
		align-items: center;
	}
	&__arrow-wrap {
		@include media-breakpoint-up(lg) {
			width: rem(210);
		}
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	.soc {
		@include media-breakpoint-up(lg) {
			display: var(--dbsoc);
		}
		@include media-breakpoint-down(lg) {
			display: none;
		}
		opacity: 0;
		pointer-events: none;
		transition-duration: 0.4s;
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
	}
	&__development {
		@include media-breakpoint-up(lg) {
			display: var(--db);
			text-align: right;
			width: rem(210);
		}
		text-align: center;
		font-size: rem(14);
		transition-duration: 0.4s;
		opacity: 0;
		pointer-events: none;
		@include media-breakpoint-down(lg){
			opacity: 1 !important;
			pointer-events: all !important;
		}
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
		a {
			color: $body-color !important;
			font-weight: bold;
		}
	}
	&__copyright {
		@include media-breakpoint-up(lg) {
			display: var(--db);
			margin-bottom: 0;
		}
		margin-bottom: 20px;
		text-align: center;
		transition-duration: 0.4s;
		opacity: 0;
		pointer-events: none;
		@include media-breakpoint-down(lg){
			opacity: 1 !important;
			pointer-events: all !important;
		}
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
	}
	&__cop-text {
		font-size: rem(14);
		line-height: calc(20 / 14);
		@include media-breakpoint-down(lg) {
			max-width: rem(200);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__policy {
		font-size: rem(14);
		color: #8f8f8f !important;
		opacity: 1;
		&:hover{
			opacity: 0.8;
		}
	}
}
