mixin footer(lang)
	+b.FOOTER.footer
		.container
			+e.wrap
				+e.arrow-wrap
					+e.arrow.p1
						+icon('arrow-down')
						svg.progress( viewBox='0 0 100 100')
							lineargradient#linear(x1='0%' y1='0%' x2='100%' y2='0%')
								stop(offset='0%' stop-color='#1e1e1e;')
								stop(offset='100%' stop-color='#1e1e1e;')
							circle.progress-circle(stroke-linecap='round' cx='50' cy='50' r='48' stroke='url(#linear)' stroke-width='4' fill='none' stroke-dasharray='315'  stroke-mitterlimit='0' transform='rotate(-90 ) translate(-100 0)')
				if (lang==1)
					+e.copyright
						+e.cop-text=ru.footer.copText
						+e.policy(href="#")=ru.footer.policy
					+e.development!=`Разработка сайта - <strong>Artsman</strong>`
				else
					+e.copyright
						+e.cop-text=eng.footer.copText
						+e.policy(href="#")=eng.footer.policy
					+e.development!=`Development - <strong>Artsman</strong>`
				+soc