// start .sContact
.sContact {
	position: relative;
	&__wrap {
		display: flex;
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(lg) {
			margin: 0 auto;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-left: rem(60);
			padding-right: rem(60);
		}
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(xxl) {
			max-width: rem(1300);
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			justify-content: center;
		}
	}
	&__bg-text {
		position: absolute !important;
		@include block(1920, 120);
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		@include media-breakpoint-down(lg) {
			display: none;
		}
		z-index: 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__text-block {
		@include media-breakpoint-up(lg) {
			max-width: 50%;
			// height: rem(500);
		}
		@include media-breakpoint-up(xl) {
			max-width: 42%;
			width: rem(530);
		}
		@include media-breakpoint-down(lg) {
			order: 0;
		}
		& > * {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__map-block {
		@include media-breakpoint-up(lg) {
			width: rem(640);
			// height: rem(500);
			max-width: 46%;
			margin-top: 0;
		}
		@include media-breakpoint-up(xl) {
			max-width: 49%;
		}
		margin-top: rem(51.41);
		@include block(640, 480);
		width: 100%;
		position: relative;
		@include media-breakpoint-down(lg) {
			order: 1;
		}
	}
	&__map-pic {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__text-item {
		& > * {
			&:first-child {
				margin-bottom: rem(10);
			}
		}
		a {
			color: $body-color;
			text-decoration: underline;
		}
	}
	&__tel-wrap {
		display: flex;
		align-items: center;
		a {
			text-decoration: none;

		}
	}
	&__soc-wrap{
		display: flex;
		align-items: center;
		margin-left: rem(10);
		img{
			width: rem(27);
			height: rem(27);
			&:first-child{
				margin-right: rem(5);
			}
		}
	}
	&__map-link {
		// width: rem(240);
		white-space: nowrap;
		flex-wrap: nowrap;
		height: rem(60);
		display: flex;
		align-items: center;
		
		padding-left: rem(21);
		padding-right: rem(21);
		position: absolute;
		left: 50%;
		bottom: -30px;
		transform: translateX(-50%);
		background-color: $white;
		border-radius: rem(60);
		box-shadow: 0px rem(5) rem(15) rgba(30, 30, 30, 0.25);
		z-index: 2;
		transition-duration: 0.4s;
		&:hover{
			box-shadow: 0px rem(5) rem(15) rgba(30, 30, 30, 0.4);
		}
		color: #1E1E1E !important;
		span {
			font-size: rem(14);
			font-weight: 600;
		}
		.icon {
			font-size: rem(30);
			color: #1E1E1E !important;
			margin-right: rem(10);
		}
	}
} // end.sContact
