mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section.gray-bg&attributes(attributes) 
		.container
			+e.wrap
				h2= data.title
				.row

					each p, index in data.content
						.col-lg-3.col-6
							+e.item
								+e.pic
									+icon(`advantages-${index + 1}`)
								+e.text!=p
	// end sAdvantages