mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section&attributes(attributes)
		.container
			+e.wrap
				+e.car
					+e.IMG.car-bg(src="img/car-bg.png", alt="")
					//- mixin item(num)
					- for(let x = 1;x<7;x++)
						+e.car-item(class=`--pos${x}`)
							img(src=`img/car-item-${x}.png`, alt="")
						//- +item(x)
				h1!= data.title 
				+e.caption.d-lg-none!= data.caption 
				a.top-nav__order-call.d-lg-none(href="#" data-src='#modal-call' data-fancybox="modal")!= data.order 
			+e.caption.d-none.d-lg-block!= data.caption 
			
	// end headerBlock