mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section.gray-bg&attributes(attributes)
		+e.bg
			img(src="img/about-bg.png", alt="")
		+e.pics
			+e.track
				img(src="img/track.png", alt="")
			+e.plane
				img(src="img/plane.png", alt="")
			+e.box
				img(src="img/box.png", alt="")
		.container
			+e.text-block
				h2= data.title
				each p in data.content
					p!= p
	// end sAbout