mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section.gray-bg#sAbout&attributes(attributes)(data-anchor="about")
		+e.bg
			img(src="img/about-bg.png", alt="")
		+e.pics
			+e.track
				img(src="img/track.png", alt="")
			+e.plane
				img(src="img/plane.png", alt="")
			+e.box
				img(src="img/box.png", alt="")
		.container
			+e.text-block
				h2 Кто мы
				p Мы&nbsp;создаем современную, технологичную систему поставок авто комплектующих для партнёров. Благодаря инновационным технологиям и&nbsp;вниманию к деталям мы&nbsp;выстраиваем оптимальные маршруты, которые позволяют сократить время ожидания для наших клиентов.
				p Центральный офис компании расположен в&nbsp;Москве. Каждый день мы&nbsp;работаем над новыми и&nbsp;интересными предложениями в&nbsp;области поставок авто компонентов для наших клиентов из&nbsp;более чем 20&nbsp;стран Мира.
	// end sAbout