extends ../layout/main.pug

include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sProduct/_sProduct.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null 
	- let  bg= 'landing.jpg'
	- let lan= ru
	- let menu= lan.nav
	- let header = lan.header
	- let la = lan.lang
	- let orderCall = lan.orderCall


block title
	- let  title= 'AUTOTEILE IMPORT'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav(orderCall)
		+mnu(menu)
	#fullpage
		+headerBlock
		+sAbout
		+sProduct
		+sAdvantages
		+sContact
	+footer
	//- +changeLang(1)
	



