mixin sProduct(data)
	// start sProduct
	+b.SECTION.sProduct.section&attributes(attributes)
		.container
			+e.wrap
				+e.product
					+e.IMG.product-bg(src="img/product-bg.png", alt="")
					mixin item(num)
						+e.product-item(class=`--pos${num}`)
							img(src=`img/product-item-${num}.png`, alt="")
					- for(let x = 1;x<7;x++)
						+item(x)
				+e.text-block
					h2= data.title
					each p in data.content
						p!= p
	// end sProduct