mixin sProduct(data)
	// start sProduct
	+b.SECTION.sProduct.section&attributes(attributes)
		.container
			+e.wrap
				+e.product
					+e.IMG.product-bg(src="img/product-bg.png", alt="")
					mixin item(num)
						+e.product-item(class=`--pos${num}`)
							img(src=`img/product-item-${num}.png`, alt="")
					- for(let x = 1;x<7;x++)
						+item(x)
				+e.text-block
					h2 Наша продукция
					p Широкий ассортимент компании состоит из&nbsp;запчастей для легковых автомобилей, который наработан благодаря крепким партнерским отношениям с&nbsp;самыми престижными заводами-производителями ряда стран по&nbsp;всему Миру. Такое сотрудничество позволяет нам разрабатывать эксклюзивные предложения, а&nbsp;также выполнять различные запросы.
					p Помимо широкой линейки автозапчастей наша компания предлагает различные сервисы и&nbsp;решения, связанные с&nbsp;запчастями и&nbsp;мобильностью поставок. Решения позволяют нашим клиентам повышать эффективность своего бизнеса: открывать новые возможности управления поставками, отслеживать состояние и&nbsp;нахождение своих грузов, создавать благоприятные условия работы для сотрудников.
	// end sProduct