.menu {
	@include media-breakpoint-up(lg) {
		
		text-align: center;
		// @include roww(20px);
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	display: flex;
	@include media-breakpoint-down(lg){
		flex-direction: column;
		align-items: center;
		margin-bottom: rem(40);
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		// margin-left: 0;
		// margin-right: 0;
		@include media-breakpoint-up(xxl){
			padding-left: rem(20);
			padding-right: rem(20);
		}
		@include media-breakpoint-up(lg) {
			padding-left: 1.04vw;
			padding-right: 1.04vw;
		}
		@include media-breakpoint-down(lg){
			margin-bottom: 31px;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			margin-bottom: 0;
		}
	}
	.menu-item.active{
		a{
			--line: #{$body-color};
		}
	}
	.btn{
		border-radius: 60px;
		line-height: calc(20 / 14);
		font-weight: 600;
		font-size: rem(14);
		padding-top: rem(10);
		@include media-breakpoint-up(xxl) {

			padding-left: rem(30);
			padding-right: rem(30);
		}
		padding-left: rem(15);
		padding-right: rem(15);
		padding-bottom: rem(10);
		white-space: nowrap;
		@include media-breakpoint-down(lg) {
			font-size: rem(15);
			line-height: calc(20 / 14);
			padding-top: rem(10.7);
			padding-bottom: rem(10.7);
			padding-left: rem(36.4);
			padding-right: rem(36.4);
		}

	}
	a:not(.btn) {
		display: block;
		position: relative;
		color: $body-color !important;
		position: relative;
		--line: transparent;
		@include media-breakpoint-down(lg){
			font-size: 18px;
			line-height: 125%;
		}
		&:hover,
		&.active {
			--line: #{$body-color};
		}
		font-size: rem(14);
		line-height: calc(20 / 14);
		font-weight: 600;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 0px;
			left: 0;
			top: 100%;
			border-bottom: 2px solid var(--line);
			transition-duration: 0.4s;
		}
		// padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}

.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$body-color};
	--position: calc(var(--h) * 2);

	&.on {
		--position: 0;
		--rotate: 45deg;
	}
	&.on span{
		--color:transparent;
	}
	&.on span::before{
		--color:#{$body-color};
	}
	&.on span::after{
		--color:#{$body-color};
	}
	display: block;
	height: calc(var(--h) * 12);
	position: relative;
	font-size: 20px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: 2px;
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}
}
@include media-breakpoint-down(lg) {
	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		// max-width: 85%;
		// height: calc(var(--vh, 1vh) * 100);
		height: calc(100vh - rem(90));
		width: 100%;
		top: rem(90);
		left: 0;
		// right: 0;
		background-color: $body-bg;
		&:not(.active) {
			transform: translate3d(0, -120%, 0);
			--opacity: 0;
			.toggle-menu-mobile {
				opacity: 0;
			}
		}
		@include mt(0.6s);
		will-change: transform;

		.toggle-menu-mobile {
			margin-left: -15%;
			position: absolute;
			left: 0;
			right: auto;
			color: #fff;
			top: 10px;
			z-index: 9999;
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			// padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(0.3s);
			transition-delay: 0.4s;
			opacity: var(--opacity);
			@include media-breakpoint-down(lg){
				display: flex;
				flex-direction: column;
				padding-top: 21.25vh;
				padding-bottom: rem(40);
				padding-left: 25px;
				padding-right: 25px;
			}
			@include media-breakpoint-down(sm){
				// padding-top: rem(170);
			}
		}

		&.active {
			.toggle-menu-mobile {
				opacity: 1;
			}
		}

		ul {
			position: relative;
		}

		li {
			display: block;
		}
	}
	.changeLang{
		@include media-breakpoint-up(lg){
			display: none;
		}
		display: flex ;
	}
}
