mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
//- mixin mob-mnu()
//- 	-
//- 		//- let path = require('path');
//- 		//- let fs = require('fs');
//- 		//- var requestURL = 'top-nav.json';
//- 		//- var request = new XMLHttpRequest();
//- 		//- request.open('GET', requestURL);
//- 		//- request.responseType = 'json';
//- 		//- let dataJson = JSON.parse(json);
//- 	//- h1= dataJson['lala'] 
//- 	+b.menu-mobile--js
//- 		+b.toggle-menu-mobile--js
//- 			span
//- 		+e.inner
//- 			+mnu()
//- 	//  мобильное меню
mixin top-nav(orderCall)
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				+e.col.col-auto.d-lg-none
					+menu-toggle()
				+e.col.col-lg-auto.col
					+e.logo-block
						+e.logo(href="/")
							img(src="img/svg/logo.svg", alt="")
				+e.col-menu.col-lg.col-12.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							block
							+e.menu-footer
								+e.tel(href="tel:+79099969698") +7 909 996-96-98
								+e.menu-footer-btn-wrap
									+e.order-call.modal-open-link.btn-black(href="#" data-src='#modal-call' data-fancybox="modal")=orderCall
									+soc
				+e.col.col-auto
					+e.tel-block
						+e.tel(href="tel:+79099969698")
							+icon('phone')
							span +7 909 996-96-98
						+e.order-call.modal-open-link.btn-black(href="#" data-src='#modal-call' data-fancybox="modal")=orderCall
				
	// end top-nav