
//- mixin mnu(menu)
//- 	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
//- - let menu = ru.nav
//- 		each link in menu
//- 			li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
mixin mnu(menu)
	ul.menu#menu
		each link,key in menu
			li.menu-item(class= navLinks[key].class  data-menuanchor=navLinks[key].url)
				a(href=`#${navLinks[key].url}`)= link.name


//- menu