mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc&attributes(attributes)
		+e.item--whatsapp(target="_blank" href=`https://wa.me/${tel.replace(/\+|\s+/g, '')}`)
			+icon('whatsapp')
		+e.item--telegram(target="_blank"  href=`https://telegram.me/${tel.replace(/\s|\+/g, '')}`)
			+icon('telegram')

//- /social buttons 