mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		+e.item--whatsapp(href="tel:+79099969698")
			+icon('whatsapp')
		+e.item--telegram(href="https://t.me/Sergi_MIPT")
			+icon('telegram')

//- /social buttons 